.principal_home{
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    z-index: 0;
}

.navbar1{
    height: fit-content;
    display: flex;
    flex-direction: row;
    position: fixed;
    background-color: rgba(189, 28, 38, 0);
    background-image:url("/img/fundo navbar.png");
    background-size: 100% 90%;
    background-repeat: no-repeat;
    background-color: #D33741;
    width: 100%;
    z-index: 1;
    padding: 1%;
    align-items: center;
    justify-content: center;
}
.botoes_nav{
    text-align: center;
    width: 15%;
    border-style: none none none solid;
    border-width: 1px;
    border-color: white;
    color: white;
}
.botoes_nav:hover{
    color: white;
}

.mapa{
    width: 400px; 
    height: 300px;
    border-style: solid; border-radius: 28px; 
    border-color: rgb(37, 80, 96);
    justify-content: center;
    text-align: center;
    overflow: hidden;
}

.input_mapa{
    width: 80%;
    border-radius: 34px; 
    border-style: solid;
    border-width: 1px;
    margin-top: -4%;
}

.locais_doacao{
    color: rgb(37, 80, 96); 
    width: 100%; 
    display: flex; 
    flex-direction: row; 
    justify-content: center; 
    margin-top: 3%; 
    margin-bottom: 3%; 
    align-items: center;
}

.footer{
    width: 100%;
    padding: 3%;
    background-color: #222222;
    display: flex;
    justify-content: center;
    align-content: center;
    color: white;
}
.div_footer{
    padding: 1%; 
    width: 25%;
    display: flex;
    flex-direction: column;
}
.div_a{
    display: flex; 
    justify-content: space-between;
    border-style: none none solid none;
    border-color: white;
    padding: 1%;
    padding-top: 3%;
    padding-bottom: 3%;
    border-width: 1px;
}

.banco_sangue{
    padding: 2%;
    background-color:#345688;
    box-shadow: 4px 2px 7px #00000040;
    opacity: 0.81;
    width: 80%;
    align-self: center;
    display: flex; 
    flex-direction: column;
    border-radius: 34px;
    align-items: center;
    align-content: center;
    color: white;
}

.boleta_sangue{
    padding: 1%;
    width: 17%; 
    display: flex; 
    align-items: center; 
    flex-direction: row; 
    justify-content: space-between;
}
.boleta_sangue img{
    max-width: 75%;
}

.boleta_sangue_edit{
    margin-top: 10%;
    margin-bottom: 10%;
    flex-direction: column;
    border-style: none none solid none;
    border-color: white;
}
.card_carrossel{
    background-color: #E4E4E4;
    box-shadow: 4px 2px 7px #00000040;
    color: black;
    position: relative;
    width: 100%;
    padding: 5%;
    align-self: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6%;
}

.patrocinadores{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
    border-style: solid none solid none;
    border-color: #346F88;
    border-width: 10px;
    margin-bottom: 10%;
}
.card_patrocinador{
    width: 20%;
    padding: 3%;
}

.imagem_div{
    max-width: 100%;
    max-height: 100%;
}

.extra_padding{
    padding: 10%;
}